.component-user-row{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    height: 32px;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}