/*
.componentSlider {
  width: 80% !important;
  margin: auto;

  flex-direction: column;
  display: flex;
  justify-content: center;
}
.componentSlider .input-range {
  width: 80%;
  margin: 1px;

  align-self: flex-start;
}
.componentSlider-message {
  width: 20%;
  align-self: flex-end;

}
.inner-slider {
  display: flex;
  flex-direction: row;
}
.button {
  align-self: center;
}
.fake-textarea {
  border: 1px solid grey;
}

.componentSlider {
  width: 80% !important;
  margin: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.componentSlider .input-range {
  width: 80%;
  margin: 1px;

  align-self: flex-start;
}
.componentSlider-message {
  width: 20%;
  align-self: flex-end;

}
*/
.inner-slider {
  display: flex;
  flex-direction: row;
}
.button {
  align-self: center;
}
.fake-textarea {
  border: 1px solid grey;
}

.course-block {
  max-width: 80%;
  margin: auto;
}

.course-block .lesson {
  position: relative;
  display: inline-block;
  border: 2px solid lightgrey;
  width: 300px;
  margin: 10px;
  padding: 30px 10px 10px 10px;
  min-height: 100px;
  vertical-align: top;
  border-radius: 10px;
  background-color: aliceblue;
  /* flex-grow:1; */
}
.course-block .lesson:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.course-block .lesson:hover h3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.course-block .lesson h3 {
  position: absolute;
  top: -15px;
  left: -2px;
  margin: 0;
  background-color: rgb(220, 239, 255);
  padding: 3px;
  border: 2px solid lightgrey;
  border-radius: 1px;
  color: rgb(94, 94, 94);
}
.submenu {
  list-style: none;
  /* margin: 0px; */
}
.third {
  margin-right: 10px;
}
ul {
  list-style: none;
}
.api-submit {
  width: 70px;
  height: 40px;
  padding: 0;
  border: 0;
  margin: 5px;
}
.component-api-conteiner {
  display: flex;
  /* justify-content: row; */
}
.address-table,
.map-container {
  /* border: 1px solid black; */
  margin: 10px;
}
.address-table {
  width: 50%;
}
.map-container {
  width: 50%;
  height: 500px;
  border: 2px solid rgb(173, 173, 173);
  padding: 10px;
}
.map-pointer {
  color: rgb(5, 7, 114);
  background: url('http://ruralshores.com/assets/marker-icon.png') no-repeat 50% 50%;
  width: 40px;
  height: 40px;
}
.sort-toggle-img {
  max-width: 100%;
  width: 20px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  opacity: 0.25;
  vertical-align: bottom;
  margin-right: 3px;
}
.table-address {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 18px;
  width: 100%;
  background: white;
  text-align: left;
  border-collapse: collapse;
  color: #3e4347;
}

.table-address thead tr {
  font-weight: normal;
  border-bottom: 3px solid #f5e1a6;
  border-right: 20px solid white;
  border-left: 20px solid white;
  padding: 8px 10px;
}

.table-address td {
  border-right: 20px solid white;
  border-left: 20px solid white;
  padding: 12px 10px 5px 5px;
  color: #8b8e91;
}
