.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}
input {
  font-size: 20px;
}
ul {
  padding: 0px;
}
li {
  list-style-type: none;
}
.delete-item a {
  visibility: visible;
}
.Footer a {
  padding-left: 2px;
  padding-right: 2px;
}
.Footer a.active {
  font-weight: bold;
}

.error {
  color: red;
  margin-bottom: 20px;
  text-align: center;
}
.success {
  position: absolute;
  margin-top: auto;
  border: 2px solid lightgrey;
  width: 300px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: aliceblue;
}
